@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    background-image: linear-gradient(rgba(187, 184, 184, 0.281), rgba(255, 17, 0, 0.897));
    margin: 0;
    padding: 0;
    
}
h1,h2,h3,h4,h5{
    font-weight: 500;
    line-height: 24px;
}
/*header*/
/* header{
    margin: 0;
    padding: 0;
} */

.form_recherche{
background-image: linear-gradient(rgba(187, 184, 184, 0.616), rgba(255, 17, 0, 0.897)),
url(assets/images/fond_bg.png);
}
/***********************************************************/

.bg_form{
    margin: 10px;
    background: white;
    border-radius: 25px;
    opacity: 0.8;
}
.bg_form_img{
    margin: 10px;
    background: white;
    border-radius: 25% 10%;
    
}

/*pied de page */



.container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl{
     margin: 0;
    padding: 0;
}
/***********************************************************/